/IntroJava/nbproject/private/
/IntroJava/build//IntroJava/build/
/POO_ej1/nbproject/private/
/POO_ej1/build/
/GUIA8/nbproject/private/
/GUIA8/build/
/GUIA8.2/nbproject/private/
/GUIA8.2/build/
/GUIA8.3/nbproject/private/
/GUIA8.3/build/
/GUIA8.EXTRA1/nbproject/private/
/GUIA8.EXTRA1/build/
/GUIA8.EXTRA2/nbproject/private/
/GUIA8.EXTRA2/build/